nav {
  background-color: #10291D;
  padding: 10px;
}

nav a {
  color: #F7F7F7;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #F7C64A;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7F7;
}

h1 {
  color: #10291D;
  text-align: center;
  margin-top: 20px;
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}

main {
  padding: 20px;
}
